.side-panel {
    z-index: 150;
}
.side-panel {
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    margin: 0;
    overflow: visible;
    position: relative;
}
.side-panel .inner-side-panel.loaded {
    opacity: 1;
}
.side-panel .inner-side-panel {
    float: right;
    width:25%;
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    top: 100px;
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
    opacity: 0;
}
.side-panel toggleable{
    float: right;
    width:25%;
}
.side-panel, .inner-side-panel {
    float: right;
    width:25%;
}
.pane {
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
}

.toggle-button-grouped {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1;
}
.toggle-button:not([disabled]).selected {
    background: #3a982c;
    border: 0;
    color: white;
    text-decoration: none;
    outline: 0;
    font-size: 20px;
}
.toggle-button-grouped button:first-of-type {
    border-bottom-left-radius: .3em;
    border-top-left-radius: .3em;
}
.toggle-button-grouped button {
    border-radius: 0;
    border: 1px solid #3a982c;
    justify-content: center;
    align-items: center;
    width: 50%;
}

button {
    background: 0;
    border: 0;
    cursor: pointer;
    overflow: visible;
}