*:after, *:before {
    box-sizing: border-box;
}
.meeting-race-selector {
    position: relative;
}
.race-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.meeting-info {
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
}
.meeting-info-meeting-selector {
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    font-weight: 600;
    padding: 0 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 4px solid #f2f2f2;
    box-sizing: border-box;
    padding-right: 10px;
    white-space: nowrap;
    height: 55px;
    display: flex;
    align-items: center;
    position: relative;
}
.meeting-info, .meeting-info-race-type {
    font-size: 17px;
    line-height: 20px;
    padding-right: 5px;
}
.meeting-info-race-selector-wrapper {
    display: flex;
    overflow-x: auto;
    flex-grow: 1;
}
.meeting-info-race-selector {
    border-bottom: 4px solid #f2f2f2;
    box-sizing: border-box;
    height: 55px;
    display: flex;
    flex-grow: 1;
}
.meeting-info-race-closed {
    color: #333333;
    background-color: #f2f2f2;
    height: 100%;
}
.meeting-info-race-open {
    color: #333333;
    background-color: transparent;
    height: 100%;
}
/* .meeting-info-race-closed:active {
    color: white;
    background-color: black;
    height: 100%;
}
.meeting-info-race-open:active {
    color: white;
    background-color: black;
    height: 100%;
} */
.meeting-info-race {
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    color: #3a982c;
    padding: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
}
.meeting-info-race-closed:active {
    border-bottom: 4px solid black;
    box-sizing: content-box;
    
}
.meeting-info-race-open:active {
    border-bottom: 4px solid #3a982c;
    box-sizing: content-box;
    
}
.meeting-info-race-results {
    font-size: 10px;
    color: black;
    line-height: 20px;
    line-height: 20px;
    white-space: pre-wrap;
    letter-spacing: 2px;
}
.meeting-info-race-time{
    font-size: 10px;
    color: #3a982c;
    line-height: 20px;
    line-height: 20px;
    white-space: pre-wrap;
}
.meeting-info-meeting-conditions {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 0 15px;
    padding-left: 10px;
    border-bottom: 4px solid #f2f2f2;
    box-sizing: border-box;
    color: #333333;
    height: 55px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.meeting-info .meeting-info-meeting-conditions {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 0 15px;
    padding-left: 10px;
    border-bottom: 4px solid #f2f2f2;
    box-sizing: border-box;
    color: #333333;
    height: 55px;
    white-space: nowrap;
}

/* .page-content .left-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: -webkit-calc(100vh - 50px);
    min-height: calc(100vh - 50px);
} */
.left-column {
    float: left;
    width: 80%;
}

.page-section {
    margin-top: 10px;
    width: 100%;
}
body {
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
}
html {
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}
html {
    line-height: 1;
}
*, *:after, *:before {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: border-box;
}

.race-header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    border-bottom: 1px solid #e6e6e6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    overflow: hidden;
    position: relative;
}
.race-header-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 15px;
    width: 100%;
}
.race-heading {
    font-weight: 600;
    display: inline-block;
    font-size: 17px;
    text-align: center;
    min-width: 55px;
}
.race-number {
    font-size: 21px;
    line-height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 33px;
}
.race-header-race-time-not-open {
    color: black;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}
.race-info-wrapper {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 15px;
}
.race-name {
    font-size: 21px;
    line-height: 40px;
    font-weight: 600;
}
.race-metadata-list {
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.status-text {
    font-weight: 600;
    color: #f25824;
}
.race-metadata-list li {
    display: inline-block;
    margin-right: 15px;
}


.race-table {
    margin-top: 10px;
    table-layout: auto;
    width: 100%;
}
.race-table th {
    font-size: 10px;
    line-height: 20px;
    background-color: #f7f6f6;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #272727;
    padding: 0 10px;
}
.result-position {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    width: 40px;
}
.race-table td {
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 10px;
}
.runner-metadata-list {
    color: #737373;
    display: block;
    font-size: 10px;
    line-height: 11px;
    margin-right: 3px;
}
.runner-metadata-list dt, .runner-metadata-list dd {
    margin: -3px;
    margin-bottom: 0;
    padding: 3px;
    padding-bottom: 0;
}
.race-table .right {
    text-align: right;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
*, *:after, *:before {
    box-sizing: border-box;
}
td {
    line-height: 20px;
    padding: 0 5px;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.runner-metadata-list {
    color: #737373;
    display: block;
    font-size: 10px;
    line-height: 11px;
    margin-right: 3px;
}
.runner-metadata-list dt+dd {
    margin-left: 3px;
    padding-left: 0;
}

.runner-metadata-list dt, .runner-metadata-list dd {
    margin: -3px;
    margin-bottom: 0;
    padding: 3px;
    padding-bottom: 0;
}
.runner-metadata-list dd {
    display: inline-block;
}
.runner-metadata-list dt {
    font-weight: 600;
    display: inline-block;
}
.result-section .result-odds-header, .result-section .result-fixed-odds, .result-section .result-tote-odds, .result-section .result-dividends {
    width: 120px;
}
.race-table .right {
    text-align: right;
}
.result-section .result-win, .result-section .result-place, .result-section .result-pool-odds {
    font-weight: 600;
}
.race-table {
    margin-top: 10px;
    table-layout: auto;
    width: 100%;
}
.pane {
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
}
.result-header pool-header th {
    font-size: 10px;
    line-height: 20px;
    background-color: #f7f6f6;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #272727;
    padding: 0 10px;
}
.odds-label {
    font-size: 10px;
    line-height: 20px;
    color: #737373;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}
.race-runners-wrapper .pseudo-header {
    border-top: 1px solid #e6e6e6;
}
.race-runners-wrapper.results {
    margin-top: 10px;
}
.race-runners-wrapper  .labels-wrapper {
    text-align: right;
}
.race-runners-wrapper .pseudo-header .row {
    border: 0;
    margin-top: 0;
}
.race-runners-wrapper .row {
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%;
    min-height: 45px;
}
.pseudo-table{
    overflow-x: scroll;
}
.pseudo-body{
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: auto;
    text-overflow: clip;
}
.name-cell{
    min-width: 200px !important;
    display: inline-block;
}
.race-runners-wrapper .pseudo-header .number-cell {
    background-color: white;
    padding-left: 3px;
}
.race-runners-wrapper .pseudo-header, .cell.active, .race-runners-wrapper, .pseudo-header, .cell, .active {
    color: #737373;
    white-space: nowrap;
}
.race-runners-wrapper .pseudo-header .cell {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #737373;
    padding-bottom: 0;
    vertical-align: baseline;
    min-width: 40vw !important;
}
.race-runners-wrapper .cell {
    font-size: 14px;
    line-height: 20px;
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    white-space: nowrap;
}
.race-runners-wrapper .pseudo-body {
    border-bottom: 1px solid #e6e6e6;
}
.race-runners-wrapper .pseudo-body .row {
    border-top: 1px solid #e6e6e6;
    cursor: default;
}
.race-runners-wrapper .number-cell {
    background: #333;
    color: white;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30px;
}
.race-runners-wrapper .runner-name-metadata-wrapper {
    display: block;
    line-height: 15px;
    width: auto;
}
.race-runners-wrapper .runner-name-wrapper {
    font-size: 14px;
    line-height: 18px;
    white-space: normal;
}
.race-runners-wrapper .runner-name-wrapper .runner-name {
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
}
.runner-metadata-list {
    color: #737373;
    display: block;
    font-size: 10px;
    line-height: 11px;
    margin-right: 3px;
}
.runner-metadata-list dt, .runner-metadata-list dd {
    margin: -3px;
    margin-bottom: 0;
    padding: 3px;
    padding-bottom: 0;
}
.runner-metadata-list dt+dd {
    margin-left: 3px;
    padding-left: 0;
}
.runner-metadata-list dt {
    font-weight: 600;
    display: inline-block;
}
.race-runners-wrapper .price-cell.hidden {
    display: table-cell !important;
}
.race-runners-wrapper .price-cell.closed {
    color: #737373;
}
.race-runners-wrapper .price-cell {
    font-weight: 600;
    border-left: 1px solid #e6e6e6;
    color: #3a982c;
    padding: 0;
    position: relative;
    text-align: center;
    width: 70px;
    left: auto;
}
.animate-change {
    height: 20px;
    position: relative;
    width: 100%;
}
.animate-odd {
    height: 20px;
    position: absolute;
    width: 100%;
}
.race-runners-wrapper .price-cell.closed {
    color: #737373;
}
.race-runners-wrapper .price-cell:last-child {
    border-right: 0;
}
.race-runners-wrapper .cell {
    font-size: 14px;
    line-height: 20px;
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
    white-space: pre-wrap;
    
}
.race-runners-wrapper .price-cell .return-value {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}



.tabbed-sections .tabs-nav {
    font-size: 20;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
.tabbed-sections .tabs-nav a:hover, .tabbed-sections .tabs-nav a.active {
    background: #008542;
    color: white;
}
.tabbed-sections .tabs-nav a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    -webkit-transition: all .35s cubic-bezier(0.37,0.99,0.74,1);
    transition: all .35s cubic-bezier(0.37,0.99,0.74,1);
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;
    background: #333;
    color: #f7f6f6;
    text-decoration: none;
    opacity: 1;
    box-shadow: none;
}
.tabbed-sections .tabs-section.active {
    display: block;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.pools-section .pools-list {
    font-size: 0;
    width: 100%;
}
ol, ul {
    list-style: none;
}
@media (max-width: 1200px){
.pools-section, .pools-list li {
    width: 50%;
}}
.pools-section .pools-list li {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
}
.pools-section .pools-list li, .amount-span {
    float: right;
}
.tabbed-sections .tabs-section {
    display: none;
    padding: 10px 20px;
    min-height: 120px;
    border: 2px solid #008542;
    background: white;
}





.bet-type-carousel {
    justify-content: flex-start;
    height: 40px;
}
.bet-type-carousel {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.bet-type-carousel .bet-type-carousel-list {
    align-items: center;
    height: 100%;
    width: 80%;
}
.bet-type-carousel-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    justify-content: start;
}
.tbc-nav-tabular-list {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style-type: none;
}
ol, ul {
    list-style: none;
}
.bet-type-carousel .bet-type-carousel-list .bet-type-carousel-item {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    height: 100%;
    border-right: 1px solid #e6e6e6;
    min-width: 84px;
    overflow: hidden;
}
@media (max-width: 1200px){
.tbc-nav-tabular-list .tbc-nav-tabular-list-item.active {
    transition: none;
}
}
.bet-type-carousel, .bet-type-carousel-list, .bet-type-carousel-item ,.tbc-nav-tabular-item-link {
    padding: 13px 15px;
    line-height: 1;
}
.tbc-nav-tabular-item-link {
    color: black;
    border-right: 1px solid #e6e6e6;
    flex-shrink: 0;
    position: relative;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 20px;
    font-weight: 600;
    height: 100%;
}
.tbc-nav-tabular-list-item:active {
    background-color: #008542;
    color: white;
    transition: background-color 0s ease-in-out;
}
/* .tbc-nav-tabular-list-item:hover {
    background-color: grey;
    color: white;
    transition: background-color 0s ease-in-out;
} */

.tbc-nav-tabular-list .tbc-nav-tabular-list-item {
    align-items: center;
    color: black;
    display: flex;
}
.bet-type-carousel-description {
    flex-basis: 100%;
}




