.page-content {
    position: relative;
    max-width: 100vw;

}
*, *:after, *:before {
    box-sizing: border-box;
}
main {
    display: block;
}
.page-content .left-column {
    overflow: hidden;
    padding: 0 20px;
}


