.page-content {
    position: relative;
    max-width: 100vw;

}
*, *:after, *:before {
    box-sizing: border-box;
}
main {
    display: block;
}
.page-content, .left-column {
    overflow: hidden;
    margin-top: 20px;
}


