


.table {
    box-sizing: border-box !important;
    color: inherit !important;
    display: flex !important;
    font-family: inherit;

}
.today-details {
    margin:20px 20px ;
}

.date-button {
    margin-bottom: 10px;
}

.date-bar {
    /* color: white; */
    /* background-color: #c0e4e8; */
    line-height: 50px;
    font-weight: 800;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    width: 25vw;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0 rgba(28, 141, 141, 0.4);
}

.category-button {
    line-height: 50px;
    background-color: transparent;
    font-size: 1.1rem;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    /* border-top-right-radius: 80px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 80px; */
    border-radius: 20px;
    border-style: solid;
    border-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    margin-left: 10vw;
}
@media (max-width:500px) {
    .category-button {
        margin-left:3vw
    }
}
.category-button:hover {
    background-color: #c0e4e8;
    color: black;
    opacity: 0.7;
}
.button-bar {
    background-color: transparent;
    line-height: 50px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}




/* TodayRacingDetails */


.places-list{
    box-sizing: border-box !important;
    color: inherit !important;
}
.places-list-item {
    box-sizing: border-box !important;
    color: inherit !important;
    height: 75px !important;
    width: 120px !important;
    position: relative !important;
    padding: 10px 8px !important;
    border: 1px solid black;
    border-top-left-radius: 40px;
    background-color: whitesmoke;
}
.places-list-item p {
    padding-left: 20px;
    display: block !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    margin-top: 20px;
    overflow: hidden;
}

.today-list { 
    overflow-x: auto !important;
}


.table-item-row {
    display: flex !important;
}

.table-rem-row {
    min-width: 75px !important;
    width: 75px !important;
    text-align: left !important;
    border-top-right-radius: 30px;

}


.table-item, .table-item-open,  .table-item-open-color {
    min-width: 75px !important;
    max-width: 75px !important;
    color: rgb(115, 115, 115) !important;
    height: 75px !important;
    padding: 10px 13px !important;
    background: #c0e4e8;
    border: 4px solid rgb(51, 51, 51,0.1);
    border-top-right-radius: 30px;
    margin: 0px;
}
.table-item-open {
    background: transparent !important;
}
.table-item-open-color {
    background-color: #f25824 !important;
    color: white!important;
}
.table-item-open:hover,.table-item-open-color:hover {
    background: #c0e4e8 !important;
    color: white;
    border: 1px solid black;
    opacity: 1;  
}
.table-item:hover{
    background: white !important;
    color: black;
    border: 1px solid black;
    opacity: 1;  
}

.table-item p , .table-item-open p{
    font-size: 14px !important;
    font-weight: 800 !important;
    line-height: 20px !important;
    white-space: nowrap !important;
}

