.page-header {
    z-index: 200;
    background: #008542;
    width: 100vw !important;
    position: relative;
}
.content-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.positioned-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
}
.toggle-menu-link {
    font-weight: 600;
    position: relative;
    padding: 10px 20px;
    line-height: 25px;
    overflow: visible;
    border-right: 1px solid rgba(0,0,0,0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon-hamburger-menu {
    font-size: 21px;
}
.hamburger-title {
    margin-left: 10px;
    text-transform: uppercase;
}
.menu{
    color: white !important;
}