/* Position and sizing of burger button */



@media (min-width: 600px) {
  .bm-burger-button {
    position: sticky;
    width: 25px;
    height: 15px;
    top:20px;
    margin-left: -15px;
  }
}
@media (max-width: 600px) {
  .bm-burger-button {
    position: sticky;
    width: 25px;
    height: 15px;
    top:20px;
    margin-left: -15px;
  }
}
@media(max-width: 200px) {
.bm-burger-button {
  position: sticky;
  width: 7vw;
  height: 15px;
  top:20px;
  margin-left: -15px;
}
}


  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #88cdd3;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars:hover {
    background: transparent;
  }
  
  
  /* General sidebar styles */
  .bm-menu {
    background:black;
    font-size: 1.15em;
  }
  

  
  /* Wrapper for item list */
  .bm-item-list {
    /* color: #b8b7ad; */
    padding: 0.8em;
    left:0px
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: white;
    text-decoration: none;
    line-height: 40px;
    font-family: nexa_bold;
    font-style: normal;
    font-size: 16px;
  }

.bm-menu-wrap, .icon-hamburger-menu {
  left:0px
}