


@media (min-width: 600px) {
  .bm-burger-button {
    position: relative;
    overflow: hidden;
    width: 25px;
    height: 15px;
    margin-left: 2vw;
    top: 4vw;  
    margin-left: 2vw;
    margin-right: 2vw;
    }
}
@media (max-width: 600px) {
  .bm-burger-button {
    position: relative;
    overflow: hidden;
    width: 25px;
    height: 15px;
    top: 4vw;  
    margin-left: 2vw;
    
  }
}
@media(max-width: 200px) {
.bm-burger-button {
  position: relative;
  overflow: hidden;
  width: 7vw;
  height: 15px;
  top:20px;
  /* margin-left: 2vw; */
}
}


  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #88cdd3;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars:hover {
    background: transparent;
  }
  
  
  /* General sidebar styles */
  .bm-menu {
    background:black;
    font-size: 1.15em;
    /* overflow-y: scroll !important; */
    z-index: 2;
    position: absolute !important;
    /* -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px); */
  }
  

  
  /* Wrapper for item list */
  .bm-item-list {
    /* color: #b8b7ad; */
    padding: 0.8em;
    left:0px;
    
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: white;
    text-decoration: none;
    line-height: 40px;
    font-style: normal;
    font-size: 16px;
    border: 0px solid transparent;
    overflow-x: visible;
    z-index: 2;
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
  }
  .bm-item:hover, .menu-item:hover {
    background-color: transparent;
    border: 1px solid transparent
  }
  .bm-item:active , .menu-item:active{
    background-color: transparent;
    border: 1px solid transparent;
  }
  .menu-item:first-child {
    background-color: transparent;
    border: 1px solid transparent;
  }

.bm-menu-wrap, .icon-hamburger-menu {
  left:0px
}